<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{'has-error':!projectForm.get('projectName').valid && !projectForm.get('projectName').pending && projectForm.get('projectName').touched}">
          <label for="projectName">Project Name</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control">
          <span
            *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched"
            class="help-block">
            <span *ngIf="projectForm.get('projectName').hasError('nameIsForbidden')">This project name is not allowed</span>
            <span *ngIf="projectForm.get('projectName').hasError('required')">Project name is required</span>
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!projectForm.get('email').valid && projectForm.get('email').touched}">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched" class="help-block">
            <p *ngIf="projectForm.get('email').hasError('required')">Email is required</p>
            <p *ngIf="projectForm.get('email').hasError('email')">Please enter a valid email</p>
          </span>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select
            id="status"
            class="form-control"
            formControlName="status">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
        <span *ngIf="!projectForm.valid && projectForm.touched" class="help-block">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
