<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>My Form</h2>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group" [ngClass]="{'has-error':!email.valid && email.touched}">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            ngModel
            name="email"
            email
            #email="ngModel"
            required>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!password.valid && password.touched}">
          <label class="control-label" for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            password
            #password="ngModel"
            required>
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password.</span>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
        <p class="text-danger" *ngIf="!f.valid && f.touched">Form is invalid - please try again!</p>
      </form>
      <hr>
      <div *ngIf="f.submitted">
        <h2>Submission</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Subscription:</strong> {{ user.subscription }}</p>
        <p><strong>Password:</strong> {{ user.password }}</p>
      </div>


      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
