<div class="row">
  <div class="col-xs-12">
    <button class="button" class="btn btn-primary">Add New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipes[0].name }}</h4>
        <p class="list-group-item-text">{{ recipes[0].description }}</p>
      </div>
      <span class="pull-right">
        <img src="recipes[0].imagePath" alt="" class="img-responsive" style="max-height:50px">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

